@charset "utf-8";
/* ==========================================================================
Base styles: popup_layer css
========================================================================== */
/* ========================모달팝업======================= */
	%clearfix {*zoom: 1;&:before, &:after {content: " ";display: table;}&:after {clear: both;}}
	.modal-wrap {overflow: auto;overflow-x: hidden;-webkit-overflow-scrolling: touch;display:none;position: fixed;top:0;left:0;width:100%;height:100%;z-index:10001;box-sizing:border-box;background:rgba(0,0,0,0.6)}
	.modal-wrap .modal-content {padding:45px 40px 60px;margin:0 auto;position:relative;width:100%;min-width:300px;background:#fff;-webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;-webkit-perspective:1000;-moz-perspective:1000;-o-perspective:1000;perspective:1000;border-radius:0;-webkit-overflow-scrolling: touch;}
	.overlay {display:block;position:fixed;left:0;top:0;width:100%;bottom:0;background:#000;opacity: 0; filter: alpha(opacity=0);z-index:10000}
/* layer_popup */
	.modal_popup_close{
		position:absolute;
		top:45px;
		left:70px;
		display:block;
		width:24px;
		height:24px;
		background:url(../image/ico_close.svg) no-repeat center center;
		background-size:24px 24px;
		z-index:10;
		text-indent:-9999px;
	}
/* ========================== 팝업 ===========================*/

//이용약관
.modal-wrap.pop_Terms .modal-content{
	max-width:800px;
	width:calc(100% - 20px);
	padding:45px 60px 45px 70px;
	min-height:100px;
	border-radius:10px;
	.modal_popup_close{
		top:49px;
	}
	h3{
		padding-left:45px;
		font-family: NanumSquare;
		font-size: 28px;
		font-weight: 700;
		letter-spacing: -0.7px;
		text-align: left;
		color: #1a1a1a;
	}
	p{
		font-family: NanumSquare;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.56;
		letter-spacing: -0.45px;
		text-align: left;
		color: #1a1a1a;
	}
	.pop_TermsBox{
		margin-top:40px;
		max-height:600px;
		.mCustomScrollBox{
			padding-right:10px;
		}
	}
	@media only all and (max-width:640px){
		max-width:100%;
		width:100%;
		padding:15px 10px 15px 24px;
		min-height:auto;
		height:calc(100%);
		border-radius:0;
		.modal_popup_close{
			top:17px;
			left:24px;
			background-size:16px 16px !important;
		}
		h3{
			padding-left:35px;
			font-size: 20px;
		}
		p{
			font-size: 14px;
		}
		.pop_TermsBox{
			margin-top:25px;
			max-height:auto;
			height:calc(100% - 57px);
			.mCustomScrollBox{
				padding-right:10px;
			}
		}
	
	}
}

//찜
.modal-wrap.pop_jjim .modal-content,.modal-wrap.pop_net .modal-content,.modal-wrap.pop_logout .modal-content{
	max-width:330px;
	width:calc(100% - 20px);
	padding:17px 0 0 0;
	height:250px;
	border-radius:20px;
	overflow:hidden;
	position: relative;
	.modal_popup_close{
		right:20px;
		left:auto;
		top:15px;
		background-size:16px 16px;
	}
	h3{
		padding-left:24px;
		font-family: NanumSquare;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: -1px;
		text-align: left;
		color: #1a1a1a;
	}
	p{
		font-family: Roboto;
		font-size: 50px;
		font-weight: 700;
		text-align: center;
		line-height: 0.81;
		letter-spacing: -2.5px;
		color: #1a1a1a;
		margin-top:40px;
		span{
			font-size:20px;
			margin-left:7px;
		}
		&.pop-txt{
			font-family: NanumSquare;
			font-size: 20px;
			line-height: 1.75;
			letter-spacing: -1px;
			margin-top:50px;
			&.logout{
				margin-top:70px;
			}
		}
	}
	.btn_area{
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		text-align: center;
		@extend %clearfix;
		button{
			float: left;
			width:50%;
			height:60px;
			display:block;
			font-family: NanumSquare;
			font-size: 18px;
			font-weight: 700;
			line-height: 1.07;
			letter-spacing: -0.9px;
			color: #fff;
			&.btn_cancel{
				background:#ccc;
			}
			&.btn_ok{
				background:#007eff;
			}
			&:only-child{
				width:100%;
				float:none;
			}
		}
	}
}

//찜 입력
.modal-wrap.pop_jjim_input .modal-content{
	max-width:330px;
	width:calc(100% - 20px);
	padding:0 0 0 0;
	height:250px;
	border-radius:20px;
	overflow:hidden;
	position: relative;
	h3{
		font-family: NanumSquare;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: -1px;
		color: #007eff;
		line-height:40px;
		min-height:40px;
		background:#eeeeee;
		text-align: center;
	}
	.jjim_dl{
		padding:25px 35px;
		dt{
			margin-bottom:20px;
			p{
				font-family: NanumSquare;
				font-size: 19px;
				font-weight: 700;
				font-style: normal;
				line-height: 1.01;
				letter-spacing: -0.95px;
				text-align: center;
				color:#767676;
				span{
					margin:0 2px;
					font-weight:normal;
					color:#eee;	
				}
			}
		}
		dd{
			input[type="text"]{
				height:60px;
				line-height:1;
				font-family: NanumSquare;
				font-size: 24px;
				font-weight: 500;
				letter-spacing: -1.2px;
				font-style: normal;
				text-align:right;
				padding:0 10px;
			}
		}
	}
	.btn_area{
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		text-align: center;
		@extend %clearfix;
		button{
			float: left;
			width:50%;
			height:60px;
			display:block;
			font-family: NanumSquare;
			font-size: 18px;
			font-weight: 700;
			line-height: 1.07;
			letter-spacing: -0.9px;
			color: #fff;
			&.btn_cancel{
				background:#ccc;
			}
			&.btn_ok{
				background:#007eff;
			}
			&:only-child{
				width:100%;
				float:none;
			}
		}
	}
}

//app 보기
.modal-wrap.pop_app .modal-content{
	max-width:330px;
	width:calc(100% - 20px);
	padding:55px 45px 70px ;
	height:300px;
	border-radius:20px;
	overflow:hidden;
	position: relative;
	text-align: center;
	.modal_popup_close{
		right:20px;
		left:auto;
		top:15px;
		background-size:16px 16px;
	}
	h4{
		font-family: NanumSquare;
		font-size: 20px;
		font-weight: 700;
		line-height:1.2;
		letter-spacing: -1px;
		text-align: center;
		color: #1a1a1a;
		margin-bottom:20px;
	}
	.btn_app{
		width:100%;
		max-width:230px;
		margin:0 auto;
		height:57px;
		line-height:57px;
		text-align: center;
		font-family: NanumSquare;
		font-size: 18px;
		font-weight: 700;
		display:block;
		border-radius:10px;
		background:#007eff;
		color:#fff;
		box-shadow: 0px 3px 10px 4px rgba(0,0,0,0.20);
		margin-bottom:25px;
	}
	.no_app{
		font-family: NanumSquare;
		font-size: 17px;
		line-height: 1.25;
		letter-spacing: -0.8px;
		text-align: center;
		color: #1a1a1a;
		display:inline-block;
		border-bottom: 1px solid #1a1a1a;
	}	
}

//경매응찰 레이어팝업
.modal-wrap.pop_auction .modal-content{
	max-width:700px;
	width:calc(100% - 20px);
	padding:50px 10px 25px 20px;
	height:800px;
	border-radius:10px;
	.modal_popup_close{
		top:20px;
		left:30px
	}
	.mCustomScrollBox{
		height:450px;
		@media only all and (max-width:640px){
			height:auto
		}
	}
	@media only all and (max-width:640px){
		max-width:100%;
		width:100%;
		padding:45px 0 15px 0;
		min-height:auto;
		height:auto;
		border-radius:0;
		.modal_popup_close{
			top:17px;
			left:20px;
			background-size:16px 16px !important;
		}
	}
	.tab_list{
		li{
			width:33.33%;
		}
	}
}

.modal-wrap.pop_auction_only .modal-content{
	max-width:700px;
	width:calc(100% - 20px);
	padding:50px 10px 25px 20px;
	height:650px;
	border-radius:10px;
	h3{
		font-family: NanumSquare;
		font-size: 28px;
		font-weight: 700;
		letter-spacing: -0.7px;
		text-align: left;
		color: #1a1a1a;
		position: absolute;
		left: 70px;
		top:15px;
		@media only all and (max-width:640px){
    		font-size: 20px;
			top:15px;
			left:50px;
		}
	}
	.dayAndJoin{
		font-family: NanumSquare;
		font-size: 24px;
		font-weight: 700;
		font-style: normal;
		line-height: 1.2;
		letter-spacing: -0.8px;
		text-align: left;
		color: #1a1a1a;
		margin:30px 0 20px;
		span{
			margin:0 10px;
			color:#eee;
		}
		@media only all and (max-width:1024px){
    		padding:0 10px;
		}
		@media only all and (max-width:640px){
			font-size: 16px;
			margin:20px 0 10px;
			padding:0 20px;
			span{
				margin:0 10px;
				color:#eee;
			}
		}
	}
	.modal_popup_close{
		top:22px;
		left:30px
	}
	.mCustomScrollBox{
		height:450px;
		@media only all and (max-width:640px){
			height:auto
		}
	}
	.pd_ea{
		width:25% !important;
	}
	.pd_pay4,.pd_pay3,.pd_sex{
		width:20% !important;
	}
	@media only all and (max-width:640px){
		max-width:100%;
		width:100%;
		padding:45px 0 15px 0;
		min-height:auto;
		height:auto;
		border-radius:0;
		.pd_ea{
			width:32% !important;
		}
		.pd_pay4,.pd_pay3,.pd_sex{
			width:18% !important;
		}
		.modal_popup_close{
			top:17px;
			left:20px;
			background-size:16px 16px !important;
		}
	}
	.tab_list{
		li{
			width:33.33%;
		}
	}
}

.modal-wrap.pop_exit_cow .modal-content{
	max-width:700px;
	width:calc(100% - 20px);
	padding:50px 10px 25px 20px;
	min-height:450px;
	border-radius:10px;
	h3{
		font-family: NanumSquare;
		font-size: 28px;
		font-weight: 700;
		letter-spacing: -0.7px;
		text-align: left;
		color: #1a1a1a;
		position: absolute;
		left: 70px;
		top:15px;
		@media only all and (max-width:640px){
    		font-size: 20px;
			top:15px;
			left:50px;
		}
	}
	.modal_popup_close{
		top:22px;
		left:30px
	}
	table{
		margin-top:30px;
		table-layout:fixed;
		width:100%;
		border:1px solid #e4e4e4;
		th{
			background: #e6efff;
			color:#111;
			font-size:20px;
			text-align: center;
			height:40px;
			border-left:1px solid #e4e4e4;
			border-bottom:1px solid #e4e4e4;
			padding:10px 15px;
			font-weight: 700;
			&.vtt{vertical-align:top;}
		}
		td{
			text-align: center;
			height:40px;
			font-size:18px;
			border-left:1px solid #e4e4e4;
			border-bottom:1px solid #e4e4e4;
			padding:10px 15px;
			&.tal{
				text-align: left;				
			}
			&.auc-num,&.name{
				font-size:30px;
				font-weight: 700;
			}
			&.num{
				span{
					font-size:24px;
					font-weight: 700;
				}
			}
			&.sex{
				font-size:24px;
				font-weight: 700;
			}
			&.fwb{
				font-weight: 700;
			}
			&.vtt{vertical-align:top;}
		}	
	}
	@media only all and (max-width:640px){
		max-width:100%;
		width:100%;
		padding:45px 10px 15px 10px;
		min-height:auto;
		height:auto;
		border-radius:0;
		table{
			margin-top:15px;
			th{
				font-size:12px;
				height:40px;
				padding:5px 8px;
			}
			td{
				text-align: center;
				height:40px;
				font-size:12px;
				padding:5px 8px;
				&.auc-num,&.name{
					font-size:16px;
				}
				&.num{
					span{
						font-size:16px;
					}
				}
				&.sex{
					font-size:16px;
				}
			}	
		}
		.modal_popup_close{
			top:17px;
			left:20px;
			background-size:16px 16px !important;
		}
	}
}

.modal-wrap.pop_mod_weight,.modal-wrap.pop_mod_pay,.modal-wrap.pop_mod_moorage{
	.pop_ad_mod{
		max-width:600px;
		width:calc(100% - 20px);
		padding:10px 0;
		border-radius:10px;
		@media only all and (max-width:640px){
			padding:0 0 10px;
			border-radius:5px;
		}
		.modal-head{
			position: relative;
			height:48px;
			line-height:48px;
			margin-bottom:30px;
			h3{
				font-family: NanumSquare;
				font-size: 28px;
				font-weight: 700;
				letter-spacing: -0.7px;
				text-align: center;
				color: #1a1a1a;
			}
			.modal_popup_close{
				left:auto;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
			}
			@media only all and (max-width:640px){
				margin-bottom:15px;
				h3{
					font-size: 20px;
				}
				.modal_popup_close{
					right: 20px;
					background-size:20px 20px !important;
				}
			}
		}
		.modal-body{
			padding:0 12px;
			@media only all and (max-width:640px){
				padding:0 10px;
			}
			.table-mod{
				border:1px solid #dbdbdb;
				border-radius:10px;				
				overflow:hidden;
				table{
					width:100%;
				}	
				.col1{
					width:200px;
				}
				.col2{
					width:400px;
				}
				tr:last-child{
					td,th{
						border-bottom:0 !important;
					}
				}
				th{
					background:#f5f5f5;
					color:#1a1a1a;
					font-size:24px;
					font-weight: 700;
					height:60px;
					padding:10px 5px;
					text-align: center;
					border-bottom:1px solid #dbdbdb;
				}
				td{
					background:#e6efff;
					color:#1a1a1a;
					font-size:24px;
					font-weight: 700;
					height:60px;
					padding:10px 20px;
					text-align:left;
					border-left:1px solid #dbdbdb;
					border-bottom:1px solid #dbdbdb;
					&.input-td{
						background:#fff;
						input[type=text]{
							width:100%;
							font-size:40px;
							font-weight: 700;
							color:#1a1a1a;
							height:60px;
							line-height:1;
							border:1px solid #d3d3d3;
							background:#fff;
						}
					}
				}
				@media only all and (max-width:640px){
					border-radius:5px;
					.col1{
						width:100px;
					}
					.col2{
						width:calc(100% - 100px);
					}
					th{
						font-size:18px;
						height:40px;
					}
					td{
						font-size:18px;
						height:40px;
						padding:10px 20px;
						&.input-td{
							input[type=text]{
								font-size:25px;
								height:40px;
							}
						}
					}
				}
			}
		}
		.modal-foot{
			padding:30px 0 0;
			.btn_area{
				max-width:600px;
				width:100%;
				display:flex;
				justify-content:center;
				align-items:center;
				padding:0 5px;
				a{
					display:inline-block;
					width:50%;
					text-align: center;
					height:50px;
					line-height:50px;
					margin:0 5px;
					padding:0 5px;
					background:#007eff;
					color:#fff;
					font-size:18px;
					font-weight: 700;
					letter-spacing: -0.45px;
					border-radius:5px;
					-webkit-border-radius:5px;
					-moz-border-radius:5px;
					-ms-border-radius:5px;
					-o-border-radius:5px;
				}
			}
			@media only all and (max-width:640px){
				padding:20px 0 0;
			}
		}
	}
}

.modal-wrap.pop_ship_status .modal-content{
	max-width:700px;
	width:calc(100% - 20px);
	padding:50px 10px 25px 20px;
	min-height:450px;
	border-radius:10px;
	h3{
		font-family: NanumSquare;
		font-size: 28px;
		font-weight: 700;
		letter-spacing: -0.7px;
		text-align: left;
		color: #1a1a1a;
		position: absolute;
		left: 70px;
		top:15px;
		@media only all and (max-width:640px){
    		font-size: 20px;
			top:15px;
			left:50px;
		}
	}
	.modal_popup_close{
		top:22px;
		left:30px
	}

	.ship_status_top,.ship_status_list{
		margin-top:25px;
		.blue_board{
			height:40px;
			line-height:40px;
			@extend%clearfix;
			background:#007eff;
			border-radius:5px;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			-ms-border-radius:5px;
			-o-border-radius:5px;
			padding:0 15px;
			.tit_box{
				color:#fff;
				float:left;
				font-size: 16px;
				font-weight:700;
			}
			.date_box{
				color:#fff;
				float:right;
				font-size: 16px;
				font-weight:700;
			}
			@media only all and (min-width:1025px){
				height:60px;
				line-height:60px;
				border-radius:10px;
				-webkit-border-radius:10px;
				-moz-border-radius:10px;
				-ms-border-radius:10px;
				-o-border-radius:10px;
				.tit_box{
					font-size: 20px;
				}
				.date_box{
					font-size: 20px;
				}
			}
		}
		.list_board{
			table{
				width:100%;
			}
			thead{
				th{
					height:40px;
					font-size: 16px;
					color:#767676;
					font-weight:700;
					text-align: center;
					border-bottom: 1px solid #dbdbdb;
				}
			}
			tbody{
				td{
					height:40px;
					font-size: 16px;
					color:#191919;
					font-weight:700;
					text-align: center;
				}
			}
			@media only all and (min-width:1025px){
				thead{
					th{
						height:60px;
						font-size: 20px;
					}
				}
				tbody{
					td{
						height:60px;
						font-size: 20px;
					}
				}
			}
		}
		.more_ea{
			margin-top:5px;
			border:1px solid #dbdbdb;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
			text-align: center;
			height:40px;
			line-height:38px;
			display:block;
			font-size:16px;
			font-weight:700;
			color:#1a1a1a;
			@media only all and (min-width:1025px){
				margin-top:10px;
				border-radius: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
				height:60px;
				line-height:58px;
				font-size:20px;
			}
		}	
	}
	.ship_status_list{
		ol{
			li{
				margin-top:20px;				
				&:first-child{
					margin-top:0;
				}
				&.act{
					.list_board{
						max-height:80px;
						overflow:inherit;
						opacity:1;
						@media only all and (min-width:1025px){
							max-height:160px;
						}
					}
					.date_box{
						&:after{
							transform:rotateZ(0deg);
							-webkit-transform:rotateZ(0deg);
							-moz-transform:rotateZ(0deg);
							-ms-transform:rotateZ(0deg);
							-o-transform:rotateZ(0deg);
						}
					}
				}
				.list_board{
					max-height:0;
					opacity:0;
					overflow:hidden;
					transition: all 0.3s;
					-webkit-transition: all 0.3s;
					-moz-transition: all 0.3s;
					-ms-transition: all 0.3s;
					-o-transition: all 0.3s;
				}
				.date_box{
					position: relative;
					padding-right:35px;
					&:after{
						content:'';
						width:18.5px;
						height:11px;
						display:block;
						position:absolute;
						right:0;
						top:14px;
						background:url(../image/btn_aco.svg) no-repeat center center;
						background-size:18.5px 11px;
						transform:rotateZ(180deg);
						-webkit-transform:rotateZ(180deg);
						-moz-transform:rotateZ(180deg);
						-ms-transform:rotateZ(180deg);
						-o-transform:rotateZ(180deg);
						@media only all and (min-width:1025px){
							top:24px;
						}
					}
				}
			}
		}
	}


	@media only all and (max-width:640px){
		max-width:100%;
		width:100%;
		padding:45px 10px 15px 10px;
		min-height:auto;
		height:auto;
		border-radius:0;
		.modal_popup_close{
			top:17px;
			left:20px;
			background-size:16px 16px !important;
		}
	}
}

.modal-wrap.pop_schedule_auction .modal-content{
	max-width:700px;
	width:calc(100% - 20px);
	padding:50px 10px 25px 20px;
	border-radius:10px;
	.modal_popup_close{
		top:20px;
		left:30px
	}
	.mCustomScrollBox{
		height:450px;
		@media only all and (max-width:640px){
			height:auto
		}
	}
	.top_info{
		@extend %clearfix;
		margin-bottom:10px;
		dt{
			float:left;
			position: relative;
			padding-left:15px;
			font-size:18px;
			color: #1a1a1a;
			font-weight: 700;
			&:after{
				content:'';
				width:10px;
				height:10px;
				background: #007eff;
				display:block;
				border-radius:50%;
				-webkit-border-radius:50%;
				-moz-border-radius:50%;
				-ms-border-radius:50%;
				-o-border-radius:50%;
				position:absolute;
				left:0;
				top:50%;
				margin-top:-5px;
			}
		}
		dd{
			float:right;
			font-size:18px;
			color: #1a1a1a;
			font-weight: 700
		}
	}
	.tab_area{
		padding:0 10px 25px;
	}
	.tab_list{
		li{
			width:33.33%;
		}
	}
	.tb_txt{
		color:#999;
		font-size:16px;
		font-weight: 700;
		margin-bottom:10px;
	}
	.tb_info_round{
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-ms-border-radius:5px;
		-o-border-radius:5px;
		overflow:hidden;
		border:1px solid #ccc;
		margin-bottom:10px;
		table{
			width:100%;
			td{
				text-align: center;
				padding:5px 1px;
				color:#1a1a1a;
				font-size:18px;
				font-weight: 700;
				letter-spacing:-0.4px;
				&.bg_blue{
					background:#007eff;
					color:#fff;
					font-size:16px;
					font-weight: 700;
					border-top: 0 !important;
					padding:5px 1px;
				}
				&.bg_gray{
					background:#f5f5f5;
					color:#1a1a1a;
					font-size:18px;
					font-weight: 700;
					height:40px;
				}
				&.fz_14{
					font-size:14px;
				}
				&.fz_15{
					font-size:15px;
				}
			}
		}
	}
	.tb_list_round{
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-ms-border-radius:5px;
		-o-border-radius:5px;
		overflow:hidden;
		border:1px solid #ccc;
		table{
			width:100%;
			tr:first-child{
				td{
					border-top: 0 !important;
				}
			}
			td{
				text-align: center;
				padding:5px 1px;
				color:#1a1a1a;
				font-size:15px;
				font-weight: 700;
				letter-spacing:-0.4px;
				&.bg_blue{
					background:#007eff;
					color:#fff;
					font-size:16px;
					font-weight: 700;
					padding:5px 1px;
					border-top: 1px solid #fff;
					height:40px;
				}
				&.fz_14{
					font-size:14px;
				}
			}
		}
	}
	.tb_list{
		table{
			width:100%;
			tr:nth-child(even){
				background: #f5f5f5;
			}
			tr:first-child{
				td{
					border-top: 0 !important;
				}
			}
			td{
				text-align: center;
				padding:5px 1px;
				color:#1a1a1a;
				font-size:18px;
				font-weight: 700;
				letter-spacing:-0.4px;
				border-bottom: 1px solid #dbdbdb;
				height:45px;
				&.fz_15{
					font-size:15px;
				}
			}
		}
	}
	.tb_round{
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-ms-border-radius:5px;
		-o-border-radius:5px;
		overflow:hidden;
		border:1px solid #ccc;
		margin-bottom:10px;
		table{
			width:100%;
			tr:last-child{
				td{border-bottom: 0 !important;}
			}
			th{
				&.row_gray{
					background:#f5f5f5;
					color:#007eff;
					font-size:16px;
					font-weight: 700;
					border-right: 1px solid #ccc;
				}
				&.bg_blue{
					background:#007eff;
					color:#fff;
					font-size:16px;
					font-weight: 700;
					height:40px;
					border-top: 0 !important;
					border-left: 1px solid #ccc;
					padding:5px 1px;
					&:first-child{
						border-left: 0 !important;
					}	
				}
			}
			td{
				.pos-r{
					position: relative;
					padding-left: 15px;
					display: inline-block;
					span{
						position: absolute;
						left: 0;
						top: 3px;
						font-size: 12px;
					}
				}
				text-align: center;
				height:40px;
				padding:5px 1px;
				border-left: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				color:#1a1a1a;
				font-size:18px;
				font-weight: 700;
				letter-spacing:-0.4px;
				span{color:#999 !important;}
				&.h_45{
					height:45px;
				}
				&:first-child{
					border-left: 0 !important;
				}				
				&.bg_gray{
					background:#f5f5f5;
					color:#1a1a1a;
					font-size:18px;
					font-weight: 700;
					height:40px;
				}
			}
		}
	}
	@media only all and (max-width:640px){
		max-width:100%;
		width:100%;
		padding:45px 0 15px 0;
		min-height:auto;
		height:auto;
		border-radius:0;
		.modal_popup_close{
			top:17px;
			left:20px;
			background-size:16px 16px !important;
		}
	}	
}

.modal-wrap.pop_cow_input{
	.pop_ad_mod{
		max-width:600px;
		width:calc(100% - 20px);
		padding:10px 0;
		border-radius:10px;
		@media only all and (max-width:640px){
			padding:0 0 10px;
			border-radius:5px;
		}
		.modal-head{
			position: relative;
			height:48px;
			line-height:48px;
			margin-bottom:30px;
			h3{
				font-family: NanumSquare;
				font-size: 28px;
				font-weight: 700;
				letter-spacing: -0.7px;
				text-align: center;
				color: #1a1a1a;
			}
			.modal_popup_close{
				left:auto;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
			}
			@media only all and (max-width:640px){
				margin-bottom:15px;
				h3{
					font-size: 20px;
				}
				.modal_popup_close{
					right: 20px;
					background-size:20px 20px !important;
				}
			}
		}
		.modal-body{
			padding:0 12px;
			@media only all and (max-width:640px){
				padding:0 10px;
			}
			.table-mod{
				border:1px solid #dbdbdb;
				border-radius:10px;				
				overflow:hidden;
				.num_scr{
					@extend %clearfix;
					li{
						width:70%;
						float: left;
						padding-right:5px;
						& + li{
							width:30%;
							padding-left:5px;
							padding-right:0;
							a{
								display:inline-block;
								width:100%;
								text-align: center;
								height:60px;
								line-height:60px;
								padding:0 5px;
								background:#007eff;
								color:#fff;
								font-size:18px;
								font-weight: 700;
								letter-spacing: -0.45px;
								border-radius:5px;
								-webkit-border-radius:5px;
								-moz-border-radius:5px;
								-ms-border-radius:5px;
								-o-border-radius:5px;
							}
						}
					}
				}
				.harf_ul{
					@extend %clearfix;
					li{
						width:50%;
						float: left;
						padding-right:5px;
						& + li{
							padding-left:5px;
							padding-right:0;
						}
					}
				}
				table{
					width:100%;
				}	
				.col1{
					width:200px;
				}
				.col2{
					width:400px;
				}
				tr:last-child{
					td,th{
						border-bottom:0 !important;
					}
				}
				th{
					background:#f5f5f5;
					color:#1a1a1a;
					font-size:24px;
					font-weight: 700;
					height:60px;
					padding:10px 5px;
					text-align: center;
					border-bottom:1px solid #dbdbdb;
					span{
						display:inline-block;
						vertical-align:middle;
					}
				}
				td{
					background:#e6efff;
					color:#1a1a1a;
					font-size:24px;
					font-weight: 700;
					height:60px;
					padding:10px 10px;
					text-align:left;
					border-left:1px solid #dbdbdb;
					border-bottom:1px solid #dbdbdb;
					.selectric .label{
						font-size:40px;
					}
					.selectric-items li{
						font-size:40px;
						line-height:40px;
					}
					&.input-td{
						background:#fff;
						input[type=text]{
							width:100%;
							font-size:40px;
							font-weight: 700;
							color:#1a1a1a;
							height:60px;
							line-height:1;
							border:1px solid #d3d3d3;
							background:#fff;
						}
					}
				}
				@media only all and (max-width:640px){
					border-radius:5px;
					.num_scr{
						li{
							& + li{
								a{
									width:100%;
									height:40px;
									line-height:40px;
								}
							}
						}
					}
					.selectric .label{
						font-size:25px !important;
						height:40px !important;
						line-height:40px !important;
					}
					.selectric-items li{
						font-size:25px !important;
						line-height:25px !important;
					}
					.col1{
						width:100px;
					}
					.col2{
						width:calc(100% - 100px);
					}
					th{
						font-size:18px;
						height:40px;
					}
					td{
						font-size:18px;
						height:40px;
						padding:10px 10px;
						&.input-td{
							input[type=text]{
								font-size:25px;
								height:40px;
							}
						}
					}
				}
			}
		}
		.modal-foot{
			padding:30px 0 0;
			.btn_area{
				max-width:600px;
				width:100%;
				display:flex;
				justify-content:center;
				align-items:center;
				padding:0 5px;
				a{
					display:inline-block;
					width:33.33%;
					text-align: center;
					height:50px;
					line-height:50px;
					margin:0 5px;
					padding:0 5px;
					background:#007eff;
					color:#fff;
					font-size:18px;
					font-weight: 700;
					letter-spacing: -0.45px;
					border-radius:5px;
					-webkit-border-radius:5px;
					-moz-border-radius:5px;
					-ms-border-radius:5px;
					-o-border-radius:5px;
				}
			}
			@media only all and (max-width:640px){
				padding:20px 0 0;
			}
		}
	}
}