<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BatchMapper">

	<!-- 단일 경매 리스트 -->
	<select id="selectQcnAuctionList" parameterType="map" resultType="map">
		SELECT NA_BZPLC
			 , AUC_OBJ_DSC
			 , AUC_DT
			 , QCN
			 , BASE_LMT_AM
			 , CUT_AM
			 , SGNO_PRC_DSC
			 , DDL_YN
			 , TMS_YN
			 , DEL_YN
			 , FSRG_DTM
			 , FSRGMN_ENO
			 , LSCHG_DTM
			 , LS_CMENO
			 , MALE_KG
			 , FEMALE_KG
			 , TT_SCR
		  FROM TB_LA_IS_MH_AUC_QCN
		 WHERE 1 = 1
		<if test="isAll != null and isAll != ''">
			<if test="isAll == 'N'.toString()">
			   AND CONVERT(VARCHAR, LSCHG_DTM, 20) <![CDATA[>=]]> CONVERT(VARCHAR, DATEADD(MI,-10,GETDATE()), 20)
			</if>
		</if>
		<choose>
			<when test="aucDt != null and aucDt != ''">
			   AND AUC_DT = #{aucDt}
			</when>
			<when test="aucYear != null and aucYear != ''">
			   AND SUBSTRING(AUC_DT, 1, 4) = #{aucYear}
			</when>
			<otherwise>
			   AND AUC_DT <![CDATA[>=]]> CONVERT(VARCHAR, GETDATE() - 7, 112)
			</otherwise>
		</choose>
		 ORDER BY LSCHG_DTM DESC, FSRG_DTM DESC
	</select>
	
	<!-- 일괄 경매 리스트 -->
	<select id="selectStnAuctionList" parameterType="map" resultType="map">
		SELECT NA_BZPLC
			 , AUC_OBJ_DSC
			 , AUC_DT
			 , RG_SQNO
			 , ST_AUC_NO
			 , ED_AUC_NO
			 , SEL_STS_DSC
			 , DEL_YN
			 , FSRG_DTM
			 , FSRGMN_ENO
			 , LSCHG_DTM
			 , LS_CMENO
			 , DDL_QCN
		  FROM TB_LA_IS_MH_AUC_STN
		 WHERE 1 = 1
		<if test="isAll != null and isAll != ''">
			<if test="isAll == 'N'.toString()">
			   AND CONVERT(VARCHAR, LSCHG_DTM, 20) <![CDATA[>=]]> CONVERT(VARCHAR, DATEADD(MI,-10,GETDATE()), 20)
			</if>
		</if>
		<choose>
			<when test="aucDt != null and aucDt != ''">
			   AND AUC_DT = #{aucDt}
			</when>
			<when test="aucYear != null and aucYear != ''">
			   AND SUBSTRING(AUC_DT, 1, 4) = #{aucYear}
			</when>
			<otherwise>
			   AND AUC_DT = CONVERT(VARCHAR, GETDATE(), 112)
			</otherwise>
		</choose>
		 ORDER BY LSCHG_DTM DESC, FSRG_DTM DESC
	</select>
	
	<!-- 중도매인 정보 리스트 -->
	<select id="selectMwmnUserList" parameterType="map" resultType="map">
		SELECT NA_BZPLC
			 , TRMN_AMNNO
			 , MWMN_NA_TRPL_C
			 , SRA_MWMNNM
			 , FRLNO
			 , ZIP
			 , DONGUP
			 , DONGBW
			 , OHSE_TELNO
			 , CUS_MPNO
			 , MACO_YN
			 , JRDWO_DSC
			 , PSN_INF_OFR_AGR_YN
			 , TMS_YN
			 , DEL_YN
			 , RMK_CNTN
			 , CUS_RLNO
			 , LSCHG_DTM
			 , LS_CMENO
			 , FSRG_DTM
			 , FSRGMN_ENO
		  FROM TB_LA_IS_MM_MWMN
		 WHERE 1 = 1
		<if test="isAll != null and isAll != ''">
			<if test="isAll == 'N'.toString()">
			   AND CONVERT(VARCHAR, LSCHG_DTM, 20) <![CDATA[>=]]> CONVERT(VARCHAR, DATEADD(MI,-10,GETDATE()), 20)
			</if>
		</if>
		 ORDER BY LSCHG_DTM DESC, FSRG_DTM DESC
	</select>
	
	<!-- 중도매인 블랙리스트 -->
	<select id="selectBlackUserList" parameterType="map" resultType="map">
		SELECT NA_BZPLC
			 , TRMN_AMNNO
			 , RG_SQNO
			 , RG_DT
			 , SRA_MWMNNM
			 , TELNO
			 , FRLNO
			 , NA_TRPL_C
			 , TR_PMSS_YN
			 , RG_BZPLNM
			 , RGMNM
			 , RGMN_TELNO
			 , ACD_RG_RSNCTT
			 , FSRG_DTM
			 , FSRGMN_ENO
			 , LSCHG_DTM
			 , LS_CMENO
		  FROM TB_LA_IS_MH_BAD_TRMN
		 WHERE 1 = 1
		<if test="isAll != null and isAll != ''">
			<if test="isAll == 'N'.toString()">
			   AND CONVERT(VARCHAR, LSCHG_DTM, 20) <![CDATA[>=]]> CONVERT(VARCHAR, DATEADD(MI,-10,GETDATE()), 20)
			</if>
		</if>
	</select>
	
	<!-- 관리자 정보 리스트 -->
	<select id="selectAdminUserList" parameterType="map" resultType="map">
		SELECT NA_BZPLC
			 , USRID
			 , USRNM
			 , PW
			 , ENO
			 , MPNO
			 , STRG_YN
			 , PWERR_NT
			 , FSRG_DTM
			 , FSRGMN_ENO
			 , LSCHG_DTM
			 , LS_CMENO
		  FROM TB_LA_IS_MM_USR
		 WHERE 1 = 1
		<if test="isAll != null and isAll != ''">
			<if test="isAll == 'N'.toString()">
			   AND CONVERT(VARCHAR, LSCHG_DTM, 20) <![CDATA[>=]]> CONVERT(VARCHAR, DATEADD(MI,-10,GETDATE()), 20)
			</if>
		</if>
		 ORDER BY LSCHG_DTM DESC, FSRG_DTM DESC
	</select>
	
	<!-- 농가 정보 리스트 -->
	<select id="selectFhsUserList" parameterType="map" resultType="map">
		SELECT NA_BZPLC
			 , FHS_ID_NO
			 , FARM_AMNNO
			 , NA_TRPL_C
			 , FTSNM
			 , ZIP
			 , DONGUP
			 , DONGBW
			 , OHSE_TELNO
			 , CUS_MPNO
			 , MACO_YN
			 , RMK_CNTN
			 , JRDWO_DSC
			 , DEL_YN
			 , ANW_YN
			 , HDWK_RG_YN
			 , SRA_FARM_ACNO
			 , NEW_SRA_FARM_ACNO
			 , SRA_FED_SPY_YN
			 , BIRTH
			 , FSRG_DTM
			 , FSRGMN_ENO
			 , LSCHG_DTM
			 , LS_CMENO
		  FROM TB_LA_IS_MM_FHS
		 WHERE 1 = 1
		<if test="isAll != null and isAll != ''">
			<if test="isAll == 'N'.toString()">
			   AND CONVERT(VARCHAR, LSCHG_DTM, 20) <![CDATA[>=]]> CONVERT(VARCHAR, DATEADD(MI,-10,GETDATE()), 20)
			</if>
		</if>
		 ORDER BY LSCHG_DTM DESC, FSRG_DTM DESC
	</select>
	
	<!-- 출장우 정보 리스트 -->
	<select id="selectCowList" parameterType="map" resultType="map">
		SELECT NA_BZPLC
			 , AUC_OBJ_DSC
			 , AUC_DT
			 , OSLP_NO
			 , LED_SQNO
			 , FHS_ID_NO
			 , FARM_AMNNO
			 , SOG_NA_TRPL_C
			 , VHC_SHRT_C
			 , RC_DT
			 , TRMN_AMNNO
			 , LVST_AUC_PTC_MN_NO
			 , SRA_INDV_AMNNO
			 , SRA_SRS_DSC
			 , COW_SOG_WT
			 , FIR_LOWS_SBID_LMT_AM
			 , LOWS_SBID_LMT_AM
			 , SRA_SBID_AM
			 , SRA_SBID_UPR
			 , SEL_STS_DSC
			 , BRCL_ISP_CTFW_SMT_YN
			 , BRCL_ISP_DT
			 , LWPR_CHG_NT
			 , VACN_DT
			 , LVST_MKT_TRPL_AMNNO
			 , MT12_OVR_YN
			 , PPGCOW_FEE_DSC
			 , PRNY_JUG_YN
			 , PRNY_YN
			 , NCSS_JUG_YN
			 , NCSS_YN
			 , TRPCS_PY_YN
			 , SRA_TRPCS
			 , SRA_PYIVA
			 , SRA_FED_SPY_AM
			 , TD_RC_CST
			 , MT12_OVR_FEE
			 , AFISM_MOD_DT
			 , PRNY_MTCN
			 , AFISM_MOD_CTFW_SMT_YN
			 , RMHN_YN
			 , SRA_PDMNM
			 , SRA_PD_RGNNM
			 , RMK_CNTN
			 , AUC_PRG_SQ
			 , TMS_YN
			 , DEL_YN
			 , AUC_YN
			 , MOD_KPN_NO
			 , DDL_QCN
			 , SOGMN_C
			 , FEE_CHK_YN
			 , SELFEE_CHK_YN
			 , FEE_CHK_YN_FEE
			 , SELFEE_CHK_YN_FEE
			 , BLOOD_AM
			 , DNA_YN
			 , BRANDNM
			 , PDA_ID
			 , DNA_YN_CHK
			 , BOVINE_DT
			 , RE_PRODUCT_1
			 , RE_PRODUCT_1_1
			 , RE_PRODUCT_2
			 , RE_PRODUCT_2_1
			 , RE_PRODUCT_3
			 , RE_PRODUCT_3_1
			 , RE_PRODUCT_4
			 , RE_PRODUCT_4_1
			 , EPD_YN
			 , RE_PRODUCT_11
			 , RE_PRODUCT_11_1
			 , RE_PRODUCT_12
			 , RE_PRODUCT_12_1
			 , RE_PRODUCT_13
			 , RE_PRODUCT_13_1
			 , RE_PRODUCT_14
			 , RE_PRODUCT_14_1
			 , SPAY_YN
			 , CASE_COW
			 , FSRG_DTM
			 , FSRGMN_ENO
			 , LSCHG_DTM
			 , LS_CMENO
		  FROM TB_LA_IS_MH_SOG_COW
		 WHERE 1 = 1
		<if test="isAll != null and isAll != ''">
			<if test="isAll == 'N'.toString()">
			   AND CONVERT(VARCHAR, LSCHG_DTM, 20) <![CDATA[>=]]> CONVERT(VARCHAR, DATEADD(MI,-10,GETDATE()), 20)
			</if>
		</if>
		<choose>
			<when test="aucDt != null and aucDt != ''">
			   AND AUC_DT = #{aucDt}
			</when>
			<when test="aucYear != null and aucYear != ''">
			   AND SUBSTRING(AUC_DT, 1, 4) = #{aucYear}
			</when>
			<otherwise>
			   AND AUC_DT = CONVERT(VARCHAR, GETDATE(), 112)
			</otherwise>
		</choose>
		 ORDER BY LSCHG_DTM DESC, FSRG_DTM DESC
	</select>
	
	<!-- 개체 정보 리스트 -->
	<select id="selectIndvList" parameterType="map" resultType="map">
		SELECT A.NA_BZPLC
			 , A.SRA_INDV_AMNNO
			 , A.SRA_SRS_DSC
			 , A.FHS_ID_NO
			 , A.FARM_AMNNO
			 , A.BIRTH
			 , A.MCOW_DSC
			 , A.KPN_NO
			 , A.INDV_SEX_C
			 , A.MCOW_SRA_INDV_AMNNO
			 , A.MATIME
			 , A.SRA_INDV_PASG_QCN
			 , A.INDV_ID_NO
			 , A.SRA_INDV_BRDSRA_RG_NO
			 , A.RG_DSC
			 , A.ANW_YN
			 , A.FSRG_DTM
			 , A.FSRGMN_ENO
			 , A.LSCHG_DTM
			 , A.LS_CMENO
		  FROM TB_LA_IS_MM_INDV A
		 INNER JOIN TB_LA_IS_MH_SOG_COW B
			ON ( A.NA_BZPLC = B.NA_BZPLC AND A.SRA_INDV_AMNNO = B.SRA_INDV_AMNNO )
		 WHERE 1 = 1
		<if test="isAll != null and isAll != ''">
			<if test="isAll == 'N'.toString()">
			   AND CONVERT(VARCHAR, A.LSCHG_DTM, 20) <![CDATA[>=]]> CONVERT(VARCHAR, DATEADD(MI,-10,GETDATE()), 20)
			</if>
		</if>
		<choose>
			<when test="aucDt != null and aucDt != ''">
			   AND B.AUC_DT = #{aucDt}
			</when>
			<when test="aucYear != null and aucYear != ''">
			   AND SUBSTRING(B.AUC_DT, 1, 4) = #{aucYear}
			</when>
			<otherwise>
			   AND B.AUC_DT = CONVERT(VARCHAR, GETDATE(), 112)
			</otherwise>
		</choose>
		 ORDER BY A.LSCHG_DTM DESC, B.FSRG_DTM DESC
	</select>
	
	<!-- 오늘 진행/예정 경매 리스트 -->
	<select id="selectTodayAuctionList" parameterType="map" resultType="map">
		SELECT NA_BZPLC
			 , AUC_OBJ_DSC
			 , AUC_DT
			 , QCN
			 , BASE_LMT_AM
			 , CUT_AM
			 , SGNO_PRC_DSC
			 , DDL_YN
			 , TMS_YN
			 , DEL_YN
			 , MALE_KG
			 , FEMALE_KG
			 , TT_SCR
			 , FSRG_DTM
			 , FSRGMN_ENO
			 , LSCHG_DTM
			 , LS_CMENO
		  FROM TB_LA_IS_MH_AUC_QCN 
		 WHERE AUC_DT = CONVERT(VARCHAR, GETDATE(), 112)
	</select>

</mapper>