@charset "UTF-8";
/* ==========================================================================
Base styles: popup_layer css
========================================================================== */
/* ========================모달팝업======================= */
.modal-wrap.pop_jjim_input .modal-content .btn_area, .modal-wrap.pop_jjim .modal-content .btn_area,
	.modal-wrap.pop_net .modal-content .btn_area, .modal-wrap.pop_logout .modal-content .btn_area
	{
	*zoom: 1;
}

.modal-wrap.pop_jjim_input .modal-content .btn_area:before, .modal-wrap.pop_jjim .modal-content .btn_area:before,
	.modal-wrap.pop_net .modal-content .btn_area:before, .modal-wrap.pop_logout .modal-content .btn_area:before,
	.modal-wrap.pop_jjim_input .modal-content .btn_area:after, .modal-wrap.pop_jjim .modal-content .btn_area:after,
	.modal-wrap.pop_net .modal-content .btn_area:after, .modal-wrap.pop_logout .modal-content .btn_area:after
	{
	content: " ";
	display: table;
}

.modal-wrap.pop_jjim_input .modal-content .btn_area:after, .modal-wrap.pop_jjim .modal-content .btn_area:after,
	.modal-wrap.pop_net .modal-content .btn_area:after, .modal-wrap.pop_logout .modal-content .btn_area:after
	{
	clear: both;
}

.modal-wrap {
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10001;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.6);
}

.modal-wrap .modal-content {
	padding: 45px 40px 60px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	min-width: 300px;
	background: #fff;
	transition: all 0.5s ease;
	-o-perspective: 1000;
	perspective: 1000;
	border-radius: 0;
	-webkit-overflow-scrolling: touch;
}

.overlay {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	bottom: 0;
	background: #000;
	opacity: 0;
	filter: alpha(opacity = 0);
	z-index: 10000;
}

/* layer_popup */
.modal_popup_close:not(.right_70) {
	position: absolute;
	right: left;
	top: 45px;
	left: 70px;
	display: block;
	width: 24px;
	height: 24px;
	background: url(/static/images/guide/ico_close.svg) no-repeat center
		center;
	background-size: 24px 24px;
	z-index: 10;
	text-indent: -9999px;
}

.modal_popup_close.right_70 {
	position: absolute;
	top: 45px;
	right: 70px;
	display: block;
	width: 24px;
	height: 24px;
	background: url(/static/images/guide/ico_close.svg) no-repeat center
		center;
	background-size: 24px 24px;
	z-index: 10;
	text-indent: -9999px;
}

/* ========================== 팝업 ===========================*/
.modal-wrap.pop_Terms .modal-content {
	max-width: 800px;
	width: calc(100% - 20px);
	padding: 45px 60px 45px 70px;
	min-height: 100px;
	border-radius: 10px;
}

.modal-wrap.pop_Terms .modal-content .modal_popup_close {
	top: 49px;
}

.modal-wrap.pop_Terms .modal-content h3 {
	padding-left: 45px;
	font-family: Noto Sans KR;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: -0.7px;
	text-align: left;
	color: #1a1a1a;
}

.modal-wrap.pop_Terms .modal-content p {
	font-family: Noto Sans KR;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.56;
	letter-spacing: -0.45px;
	text-align: left;
	color: #1a1a1a;
}

.modal-wrap.pop_Terms .modal-content .pop_TermsBox {
	margin-top: 40px;
	max-height: 600px;
}

.modal-wrap.pop_Terms .modal-content .pop_TermsBox .mCustomScrollBox {
	padding-right: 10px;
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_Terms .modal-content {
		max-width: 100%;
		width: 100%;
		padding: 15px 10px 15px 24px;
		min-height: auto;
		/*     height: calc(100%); */
		border-radius: 0;
	}
	.modal-wrap.pop_Terms .modal-content .modal_popup_close {
		top: 15px;
		left: 24px;
		background-size: 16px 16px !important;
	}
	.modal-wrap.pop_Terms .modal-content h3 {
		padding-left: 35px;
		font-size: 20px;
	}
	.modal-wrap.pop_Terms .modal-content p {
		font-size: 14px;
	}
	.modal-wrap.pop_Terms .modal-content .pop_TermsBox {
		margin-top: 25px;
		max-height: auto;
		height: calc(100% - 57px);
	}
	.modal-wrap.pop_Terms .modal-content .pop_TermsBox .mCustomScrollBox {
		padding-right: 10px;
	}
}

.modal-wrap.pop_jjim .modal-content, .modal-wrap.pop_net .modal-content,
	.modal-wrap.pop_logout .modal-content {
	max-width: 330px;
	width: calc(100% - 20px);
	padding: 17px 0 0 0;
	height: 250px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

.modal-wrap.pop_jjim .modal-content .modal_popup_close, .modal-wrap.pop_net .modal-content .modal_popup_close,
	.modal-wrap.pop_logout .modal-content .modal_popup_close {
	right: 20px;
	left: auto;
	top: 15px;
	background-size: 16px 16px;
}

.modal-wrap.pop_jjim .modal-content h3, .modal-wrap.pop_net .modal-content h3,
	.modal-wrap.pop_logout .modal-content h3 {
	/*   padding-left: 24px; */
	padding-left: 60px;
	font-family: Noto Sans KR;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -1px;
	text-align: left;
	color: #1a1a1a;
}

.modal-wrap.pop_jjim .modal-content p, .modal-wrap.pop_net .modal-content p,
	.modal-wrap.pop_logout .modal-content p {
	font-family: Roboto;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	line-height: 0.81;
	letter-spacing: -2.5px;
	color: #1a1a1a;
	margin-top: 40px;
}

.modal-wrap.pop_jjim .modal-content p span, .modal-wrap.pop_net .modal-content p span,
	.modal-wrap.pop_logout .modal-content p span {
	font-size: 20px;
	margin-left: 7px;
}

.modal-wrap.pop_jjim .modal-content p.pop-txt, .modal-wrap.pop_net .modal-content p.pop-txt,
	.modal-wrap.pop_logout .modal-content p.pop-txt {
	font-family: Noto Sans KR;
	font-size: 20px;
	line-height: 1.75;
	letter-spacing: -1px;
	margin-top: 50px;
}

.modal-wrap.pop_jjim .modal-content p.pop-txt.logout, .modal-wrap.pop_net .modal-content p.pop-txt.logout,
	.modal-wrap.pop_logout .modal-content p.pop-txt.logout {
	margin-top: 70px;
}

.modal-wrap.pop_jjim .modal-content .btn_area, .modal-wrap.pop_net .modal-content .btn_area,
	.modal-wrap.pop_logout .modal-content .btn_area {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.modal-wrap.pop_jjim .modal-content .btn_area button, .modal-wrap.pop_net .modal-content .btn_area button,
	.modal-wrap.pop_logout .modal-content .btn_area button {
	float: left;
	width: 50%;
	height: 60px;
	display: block;
	font-family: Noto Sans KR;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: -0.9px;
	color: #fff;
}

.modal-wrap.pop_jjim .modal-content .btn_area button.btn_cancel,
	.modal-wrap.pop_net .modal-content .btn_area button.btn_cancel,
	.modal-wrap.pop_logout .modal-content .btn_area button.btn_cancel {
	background: #ccc;
}

.modal-wrap.pop_jjim .modal-content .btn_area button.btn_ok, .modal-wrap.pop_net .modal-content .btn_area button.btn_ok,
	.modal-wrap.pop_logout .modal-content .btn_area button.btn_ok {
	background: #007eff;
}

.modal-wrap.pop_jjim .modal-content .btn_area button:only-child,
	.modal-wrap.pop_net .modal-content .btn_area button:only-child,
	.modal-wrap.pop_logout .modal-content .btn_area button:only-child {
	width: 100%;
	float: none;
}

.modal-wrap.pop_jjim_input .modal-content {
	max-width: 330px;
	width: calc(100% - 20px);
	padding: 0 0 0 0;
	height: 250px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

.modal-wrap.pop_jjim_input .modal_popup_close {
	position: absolute;
	top: 11px;
	display: block;
	left: calc(100% - 46px);
	width: 15px;
	height: 15px;
	background: url(/static/images/guide/ico_close.svg) no-repeat center
		center;
	background-size: 24px 24px;
	z-index: 10;
	text-indent: -9999px;
}

.modal-wrap.pop_jjim_input .modal-content h3 {
	font-family: Noto Sans KR;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -1px;
	color: #007eff;
	line-height: 40px;
	min-height: 40px;
	background: #eeeeee;
	text-align: center;
}

.modal-wrap.pop_jjim_input .modal-content .jjim_dl {
	padding: 25px 35px;
}

.modal-wrap.pop_jjim_input .modal-content .jjim_dl dt {
	margin-bottom: 20px;
}

.modal-wrap.pop_jjim_input .modal-content .jjim_dl dt p {
	font-family: Noto Sans KR;
	font-size: 19px;
	font-weight: 700;
	font-style: normal;
	line-height: 1.01;
	letter-spacing: -0.95px;
	text-align: center;
	color: #767676;
}

.modal-wrap.pop_jjim_input .modal-content .jjim_dl dt p span {
	margin: 0 2px;
	font-weight: normal;
	color: #eee;
}

.modal-wrap.pop_jjim_input .modal-content .jjim_dl dd input[type=text] {
	height: 60px;
	line-height: 1;
	font-family: Noto Sans KR;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: -1.2px;
	font-style: normal;
	text-align: right;
	padding: 0 10px;
}

.modal-wrap.pop_jjim_input .modal-content .btn_area {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.modal-wrap.pop_jjim_input .modal-content .btn_area button {
	float: left;
	width: 50%;
	height: 60px;
	display: block;
	font-family: Noto Sans KR;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: -0.9px;
	color: #fff;
}

.modal-wrap.pop_jjim_input .modal-content .btn_area button.btn_cancel {
	background: #ccc;
}

.modal-wrap.pop_jjim_input .modal-content .btn_area button.btn_ok {
	background: #007eff;
}

.modal-wrap.pop_jjim_input .modal-content .btn_area button:only-child {
	width: 100%;
	float: none;
}

.modal-wrap.pop_app .modal-content {
	max-width: 330px;
	width: calc(100% - 20px);
	padding: 55px 45px 70px;
	height: 300px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.modal-wrap.pop_app .modal-content .modal_popup_close {
	right: 20px;
	left: auto;
	top: 15px;
	background-size: 16px 16px;
}

.modal-wrap.pop_app .modal-content h4 {
	font-family: Noto Sans KR;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: -1px;
	text-align: center;
	color: #1a1a1a;
	margin-bottom: 20px;
}

.modal-wrap.pop_app .modal-content .btn_app {
	width: 100%;
	max-width: 230px;
	margin: 0 auto;
	height: 57px;
	line-height: 57px;
	text-align: center;
	font-family: Noto Sans KR;
	font-size: 18px;
	font-weight: 700;
	display: block;
	border-radius: 10px;
	background: #007eff;
	color: #fff;
	box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 25px;
}

.modal-wrap.pop_app .modal-content .no_app {
	font-family: Noto Sans KR;
	font-size: 17px;
	line-height: 1.25;
	letter-spacing: -0.8px;
	text-align: center;
	color: #1a1a1a;
	display: inline-block;
	border-bottom: 1px solid #1a1a1a;
}

.modal-wrap.pop_auction .modal-content {
	max-width: 700px;
	width: calc(100% - 20px);
	padding: 50px 10px 25px 20px;
	height: 800px;
	border-radius: 10px;
}

.modal-wrap.pop_auction .modal-content .modal_popup_close {
	top: 20px;
	left: 30px;
}

.modal-wrap.pop_auction .modal-content .mCustomScrollBox {
	height: 450px;
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_auction .modal-content .mCustomScrollBox {
		height: auto;
	}
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_auction .modal-content {
		max-width: 100%;
		width: 100%;
		padding: 45px 0 15px 0;
		min-height: auto;
		height: auto;
		border-radius: 0;
	}
	.modal-wrap.pop_auction .modal-content .modal_popup_close {
		top: 15px;
		left: 20px;
		background-size: 16px 16px !important;
	}
}

.modal-wrap.pop_auction .modal-content .tab_list li {
	width: 33.33%;
}

.modal-wrap.pop_auction_only .modal-content {
	max-width: 700px;
	width: calc(100% - 20px);
	padding: 50px 10px 25px 20px;
	height: 650px;
	border-radius: 10px;
}

.modal-wrap.pop_auction_only .modal-content h3 {
	font-family: Noto Sans KR;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: -0.7px;
	text-align: left;
	color: #1a1a1a;
	position: absolute;
	left: 70px;
	top: 15px;
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_auction_only .modal-content h3 {
		font-size: 20px;
		top: 15px;
		left: 50px;
	}
}

.modal-wrap.pop_auction_only .modal-content .dayAndJoin {
	font-family: Noto Sans KR;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: -0.8px;
	text-align: left;
	color: #1a1a1a;
	margin: 30px 0 20px;
}

.modal-wrap.pop_auction_only .modal-content .dayAndJoin span {
	margin: 0 10px;
	color: #eee;
}

@media only all and (max-width: 1024px) {
	.modal-wrap.pop_auction_only .modal-content .dayAndJoin {
		padding: 0 10px;
	}
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_auction_only .modal-content .dayAndJoin {
		font-size: 16px;
		margin: 20px 0 10px;
		padding: 0 20px;
	}
	.modal-wrap.pop_auction_only .modal-content .dayAndJoin span {
		margin: 0 10px;
		color: #eee;
	}
}

.modal-wrap.pop_auction_only .modal-content .modal_popup_close {
	top: 20px;
	left: 30px;
}

.modal-wrap.pop_auction_only .modal-content .mCustomScrollBox {
	height: 450px;
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_auction_only .modal-content .mCustomScrollBox {
		height: auto;
	}
}

.modal-wrap.pop_auction_only .modal-content .pd_ea {
	width: 25% !important;
}

.modal-wrap.pop_auction_only .modal-content .pd_pay4, .modal-wrap.pop_auction_only .modal-content .pd_pay3,
	.modal-wrap.pop_auction_only .modal-content .pd_sex {
	width: 20% !important;
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_auction_only .modal-content {
		max-width: 100%;
		width: 100%;
		padding: 45px 0 15px 0;
		min-height: auto;
		height: auto;
		border-radius: 0;
	}
	.modal-wrap.pop_auction_only .modal-content .pd_ea {
		width: 32% !important;
	}
	.modal-wrap.pop_auction_only .modal-content .pd_pay4, .modal-wrap.pop_auction_only .modal-content .pd_pay3,
		.modal-wrap.pop_auction_only .modal-content .pd_sex {
		width: 18% !important;
	}
	.modal-wrap.pop_auction_only .modal-content .modal_popup_close {
		top: 15px;
		left: 20px;
		background-size: 16px 16px !important;
	}
}

.modal-wrap.pop_auction_only .modal-content .tab_list li {
	width: 33.33%;
}

.modal-wrap.confirm .modal-content {
	max-width: 330px;
	width: calc(100% - 20px);
	padding: 17px 0 0 0;
	height: 200px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

.modal-wrap.confirm .modal-content h3 {
	/*   padding-left: 24px; */
	padding-left: 60px;
	font-family: Noto Sans KR;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -1px;
	text-align: left;
	color: #1a1a1a;
}

.modal-wrap.confirm .modal-content p {
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 1.2;
	letter-spacing: -2.5px;
	color: #1a1a1a;
	margin-top: 36px;
}

.modal-wrap.confirm .modal-content p span {
	font-size: 20px;
	margin-left: 7px;
}

.modal-wrap.confirm .modal-content .btn_area {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.modal-wrap.confirm .modal-content .btn_area button {
	float: left;
	width: 50%;
	height: 60px;
	display: block;
	font-family: Noto Sans KR;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: -0.9px;
	color: #fff;
}

.modal-wrap.confirm .modal-content .btn_area button.btn_cancel {
	background: #ccc;
}

.modal-wrap.confirm .modal-content .btn_area button.btn_ok {
	background: #007eff;
}

.modal-wrap.message .modal-content {
	max-width: 330px;
	width: calc(100% - 20px);
	padding: 17px 0 0 0;
	height: 200px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

.modal-wrap.message .modal-content h3 {
	padding-left: 24px;
	font-family: Noto Sans KR;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -1px;
	text-align: left;
	color: #1a1a1a;
}

.modal-wrap.message .modal-content p {
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 1.2;
	letter-spacing: -2.5px;
	color: #1a1a1a;
	margin-top: 36px;
}

.modal-wrap.message .modal-content p span {
	font-size: 20px;
	margin-left: 7px;
}

.modal-wrap.message .modal-content .btn_area {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.modal-wrap.message .modal-content .btn_area button {
	float: left;
	width: 100%;
	height: 60px;
	display: block;
	font-family: Noto Sans KR;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: -0.9px;
	color: #fff;
}

.modal-wrap.message .modal-content .btn_area button.btn_ok {
	background: #007eff;
}

.modal-wrap.pop_detail .modal-content {
	max-width: 500px;
	width: calc(100% - 20px);
	padding: 33px 10px 45px 16px;
	min-height: 100px;
	border-radius: 10px;
}

.modal-wrap.pop_detail .modal-content div {
	background-color: #efefef;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
}

.modal-wrap.pop_detail .modal-content .modal_popup_close {
	top: 41px;
	left: 30px;
}

.modal-wrap.pop_detail .modal-content h3 {
	padding-left: 45px;
	font-family: Noto Sans KR;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: -0.7px;
	text-align: left;
	color: #1a1a1a;
	margin-bottom: 25px;
}

.modal-wrap.pop_detail .modal-content .pop_detailBox {
	max-height: 600px;
}

.modal-wrap.pop_detail .modal-content .pop_detailBox .mCustomScrollBox {
	padding-right: 10px;
}

.pop_detailBox ul:before {
	content: " ";
	display: table;
}

.modal-wrap.pop_detail .pop_detailBox li {
	float: left;
	width: 49%;
	border: 1px solid;
	height: 38px;
	margin: 2px 0px 0px 1px;
	border-radius: 5px;
	background-color: #fff;
	height: 100%;
}

.modal-wrap.pop_detail .pop_detailBox li.full {
	width: 98% !important;
}

.modal-wrap.pop_detail .pop_detailBox li dl dt {
	font-family: "Noto Sans KR", "Roboto", "AppleGothic", "sans-serif";
	font-weight: 700;
	font-size: 17px;
	letter-spacing: -0.45px;
	text-align: center;
	color: #007eff;
	margin-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	width: 69px;
	text-align: right;
	vertical-align: top;
	height: 27px;
}

.modal-wrap.pop_detail .pop_detailBox li dl dd {
	font-family: "Noto Sans KR", "Roboto", "AppleGothic", "sans-serif";
	font-weight: 600;
	font-size: 18px;
	letter-spacing: -0.6px;
	text-align: center;
	color: #1a1a1a;
	line-height: 1;
	margin-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 4px 0 4px 15px;
	display: inline-block;
	/*   width: 120px; */
	width: calc(100% - 75px);
	text-align: left;
	height: 27px;
}

.modal-wrap.pop_detail .pop_detailBox li.full dl dd {
	min-width: calc(100% - 100px);
	white-space: pre-wrap;
	text-overflow: clip;
	height: 100%;
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_detail .modal-content {
		max-width: 95%;
		width: 100%;
		padding: 15px 10px 15px 24px;
		min-height: auto;
		border-radius: 15px;
	}
	.modal-wrap.pop_detail .modal-content .modal_popup_close {
		top: 15px;
		left: 24px;
		background-size: 16px 16px !important;
	}
	.modal-wrap.pop_detail .modal-content h3 {
		padding-left: 35px;
		font-size: 20px;
	}
	.modal-wrap.pop_detail .modal-content p {
		font-size: 14px;
	}
	.modal-wrap.pop_detail .modal-content .pop_detailBox {
		margin-top: 25px;
		max-height: auto;
		/*     height: calc(100% - 57px); */
		/*     height: 450px; */
	}
	.modal-wrap.pop_detail .modal-content .pop_detailBox .mCustomScrollBox {
		padding-right: 10px;
	}
	.modal-wrap.pop_detail .pop_detailBox li {
		/* 	width: 98%; */
		margin: 0px 0 1px 0;
	}
	.modal-wrap.pop_detail .modal-content div {
		background-color: #fff;
		padding: 0 0 0 0;
	}
}

.modal-wrap.play .modal-content {
	max-width: 240px;
	width: calc(100% - 40px);
	padding: 17px 0 0 0;
	height: 65px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	background: #007eff;
}

.modal-wrap.play .modal-content .btn_area {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.modal-wrap.play .modal-content .btn_area button {
	float: left;
	width: 100%;
	height: 60px;
	display: block;
	font-family: Noto Sans KR;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: -0.9px;
	color: #fff;
}

.modal-wrap.pop_exit_cow .modal-content {
	max-width: 700px;
	width: calc(100% - 20px);
	padding: 50px 10px 25px 20px;
	min-height: 450px;
	border-radius: 10px
}

.modal-wrap.pop_exit_cow .modal-content h3 {
	font-family: NanumSquare;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: -0.7px;
	text-align: left;
	color: #1a1a1a;
	position: absolute;
	left: 70px;
	top: 15px
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_exit_cow .modal-content h3 {
		font-size: 20px;
		top: 15px;
		left: 50px
	}
}

.modal-wrap.pop_exit_cow .modal-content .modal_popup_close {
	top: 22px;
	left: 30px
}

.modal-wrap.pop_exit_cow .modal-content table {
	margin-top: 30px;
	table-layout: fixed;
	width: 100%;
	border: 1px solid #e4e4e4
}

.modal-wrap.pop_exit_cow .modal-content table th {
	background: #e6efff;
	color: #111;
	font-size: 22px;
	text-align: center;
	height: 40px;
	border-left: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 15px;
	font-weight: 700
}

.modal-wrap.pop_exit_cow .modal-content table th.vtt {
	vertical-align: top
}

.modal-wrap.pop_exit_cow .modal-content table td {
	text-align: center;
	height: 40px;
	font-size: 21px;
	border-left: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 15px
}

.modal-wrap.pop_exit_cow .modal-content table td.tal {
	text-align: left
}

.modal-wrap.pop_exit_cow .modal-content table td.auc-num, .modal-wrap.pop_exit_cow .modal-content table td.name
	{
	font-size: 32px;
	font-weight: 700
}

.modal-wrap.pop_exit_cow .modal-content table td.num span {
	font-size: 24px;
	font-weight: 700
}

.modal-wrap.pop_exit_cow .modal-content table td.sex {
	font-size: 24px;
	font-weight: 700
}

.modal-wrap.pop_exit_cow .modal-content table td.fwb {
	font-weight: 700
}

.modal-wrap.pop_exit_cow .modal-content table td.vtt {
	vertical-align: top
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_exit_cow .modal-content {
		max-width: 100%;
		width: 100%;
		padding: 45px 10px 15px 10px;
		min-height: auto;
		height: auto;
		border-radius: 0
	}
	.modal-wrap.pop_exit_cow .modal-content table {
		margin-top: 15px
	}
	.modal-wrap.pop_exit_cow .modal-content table th {
		font-size: 17px;
		height: 40px;
		padding: 5px 8px
	}
	.modal-wrap.pop_exit_cow .modal-content table td {
		text-align: center;
		height: 40px;
		font-size: 17px;
		padding: 5px 8px
	}
	.modal-wrap.pop_exit_cow .modal-content table td.auc-num, .modal-wrap.pop_exit_cow .modal-content table td.name
		{
		font-size: 18px
	}
	.modal-wrap.pop_exit_cow .modal-content table td.num span {
		font-size: 18px
	}
	.modal-wrap.pop_exit_cow .modal-content table td.sex {
		font-size: 18px
	}
	.modal-wrap.pop_exit_cow .modal-content .modal_popup_close {
		top: 17px;
		left: 20px;
		background-size: 16px 16px !important
	}
}

.modal-wrap.pop_mod_weight .pop_ad_mod, .modal-wrap.pop_mod_pay .pop_ad_mod,
	.modal-wrap.pop_mod_moorage .pop_ad_mod {
	max-width: 600px;
	width: calc(100% - 20px);
	padding: 10px 0;
	border-radius: 10px
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_mod_weight .pop_ad_mod, .modal-wrap.pop_mod_pay .pop_ad_mod,
		.modal-wrap.pop_mod_moorage .pop_ad_mod {
		padding: 0 0 10px;
		border-radius: 5px
	}
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-head, .modal-wrap.pop_mod_pay .pop_ad_mod .modal-head,
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-head {
	position: relative;
	height: 48px;
	line-height: 48px;
	margin-bottom: 30px
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-head h3, .modal-wrap.pop_mod_pay .pop_ad_mod .modal-head h3,
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-head h3 {
	font-family: NanumSquare;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: -0.7px;
	text-align: center;
	color: #1a1a1a
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-head .modal_popup_close,
	.modal-wrap.pop_mod_pay .pop_ad_mod .modal-head .modal_popup_close,
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-head .modal_popup_close
	{
	left: auto;
	right: 20px;
	top: 50%;
	transform: translateY(-50%)
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_mod_weight .pop_ad_mod .modal-head, .modal-wrap.pop_mod_pay .pop_ad_mod .modal-head,
		.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-head {
		margin-bottom: 15px
	}
	.modal-wrap.pop_mod_weight .pop_ad_mod .modal-head h3, .modal-wrap.pop_mod_pay .pop_ad_mod .modal-head h3,
		.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-head h3 {
		font-size: 20px
	}
	.modal-wrap.pop_mod_weight .pop_ad_mod .modal-head .modal_popup_close,
		.modal-wrap.pop_mod_pay .pop_ad_mod .modal-head .modal_popup_close,
		.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-head .modal_popup_close
		{
		right: 20px;
		background-size: 20px 20px !important
	}
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body, .modal-wrap.pop_mod_pay .pop_ad_mod .modal-body,
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body {
	padding: 0 12px
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body, .modal-wrap.pop_mod_pay .pop_ad_mod .modal-body,
		.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body {
		padding: 0 10px
	}
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod,
	.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod, .modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod
	{
	border: 1px solid #dbdbdb;
	border-radius: 10px;
	overflow: hidden
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod table,
	.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod table,
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod table {
	width: 100%
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod .col1,
	.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod .col1,
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod .col1 {
	width: 200px
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod .col2,
	.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod .col2,
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod .col2 {
	width: 400px
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod tr:last-child td,
	.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod tr:last-child th,
	.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod tr:last-child td,
	.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod tr:last-child th,
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod tr:last-child td,
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod tr:last-child th
	{
	border-bottom: 0 !important
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod th,
	.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod th,
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod th {
	background: #f5f5f5;
	color: #1a1a1a;
	font-size: 24px;
	font-weight: 700;
	height: 60px;
	padding: 10px 5px;
	text-align: center;
	border-bottom: 1px solid #dbdbdb
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod td,
	.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod td,
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod td {
	background: #e6efff;
	color: #1a1a1a;
	font-size: 24px;
	font-weight: 700;
	height: 60px;
	padding: 10px 20px;
	text-align: left;
	border-left: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod td.input-td,
	.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod td.input-td,
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod td.input-td
	{
	background: #fff
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod td.input-td input[type=text],
	.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod td.input-td input[type=text],
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod td.input-td input[type=text]
	{
	width: 100%;
	font-size: 40px;
	font-weight: 700;
	color: #1a1a1a;
	height: 60px;
	line-height: 1;
	border: 1px solid #d3d3d3;
	background: #fff
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod,
		.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod,
		.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod {
		border-radius: 5px
	}
	.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod .col1,
		.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod .col1,
		.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod .col1 {
		width: 100px
	}
	.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod .col2,
		.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod .col2,
		.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod .col2 {
		width: calc(100% - 100px)
	}
	.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod th,
		.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod th,
		.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod th {
		font-size: 18px;
		height: 40px
	}
	.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod td,
		.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod td,
		.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod td {
		font-size: 18px;
		height: 40px;
		padding: 10px 20px
	}
	.modal-wrap.pop_mod_weight .pop_ad_mod .modal-body .table-mod td.input-td input[type=text],
		.modal-wrap.pop_mod_pay .pop_ad_mod .modal-body .table-mod td.input-td input[type=text],
		.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-body .table-mod td.input-td input[type=text]
		{
		font-size: 25px;
		height: 40px
	}
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-foot, .modal-wrap.pop_mod_pay .pop_ad_mod .modal-foot,
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-foot {
	padding: 30px 0 0
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-foot .btn_area,
	.modal-wrap.pop_mod_pay .pop_ad_mod .modal-foot .btn_area, .modal-wrap.pop_mod_moorage .pop_ad_mod .modal-foot .btn_area
	{
	max-width: 600px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 5px
}

.modal-wrap.pop_mod_weight .pop_ad_mod .modal-foot .btn_area a,
	.modal-wrap.pop_mod_pay .pop_ad_mod .modal-foot .btn_area a,
	.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-foot .btn_area a {
	display: inline-block;
	width: 50%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	margin: 0 5px;
	padding: 0 5px;
	background: #007eff;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.45px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px
}

@media only all and (max-width: 640px) {
	.modal-wrap.pop_mod_weight .pop_ad_mod .modal-foot, .modal-wrap.pop_mod_pay .pop_ad_mod .modal-foot,
		.modal-wrap.pop_mod_moorage .pop_ad_mod .modal-foot {
		padding: 20px 0 0
	}
}

.message {
	z-index : 10002;
}