/*PC Layout*/
* {
	-webkit-text-size-adjust: none;
	box-sizing: border-box;
	word-break: break-all;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	touch-action: pan-y;
}

@media (min-width: 992px) {
    .aside-fixed .wrapper {
        padding-left: 0px;
    }

    .aside-enabled.header-fixed .header {
        left: 0px;
    }
}


/*Hamburger*/
.burger-icon span::before, .burger-icon span::after {
    background-color: black !important;
    height: 2px !important;
    min-height: 2px !important;
}

.burger-icon span {
    background-color: black !important;
    min-height: 2px !important;
    height: 2px !important;
}


@media (max-width: 991.98px) {
    .header-mobile-fixed .header-mobile {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 97;
        height: 70px;
        min-height: 70px;
    }

    .header-mobile-fixed .wrapper {
        padding-top: 70px;
    }

    #kt_header_menu_wrapper {
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .header-menu-wrapper-on {
        width: 100%;
    }
    .header-menu-wrapper.header-menu-wrapper-right {
        right: -100%;
        left: auto;
    }
    #kt_header_menu > .container{
        margin: 0px;
        padding: 0px;
    }
    body {
        background: #f6f6f6 !important;
    }
}
@media (min-width: 991.99px) {
    body {
        background: #FFFFFF;
    }

}

.color-7b7b7b {
    color: #7b7b7b;
}

.color-000000 {
    color: #000000 !important;
}

.color-ffffff {
    color: #ffffff !important;
}

.card {
    background-color: unset !important;
}

button.shadow {
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.5);
    border-radius: 1.1rem;
}

button.off-air {
    background: #ffffff;
    color: #000000;
}

button.on-air {
    color: #ffffff;
    background: #0070f9;
}



#kt_wrapper > div.content {
    background: #f6f6f6;
}

.button-overlay {
    position: absolute;
    top: 6px;
    /* bottom: 0; */
    left: 10px;
    right: 0;
    width: 58px;
    height: 20px;
    text-align: center;
    background: red;
    color: white;
    font-weight: 900;
    border-radius: 1rem;
    border-color: transparent;
}

@media (min-width: 992px) {
    .header-fixed .header {
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }

    .select-market-text {
        color: #000000;
    }
}

@media (min-width: 992px) {
    .aside-fixed .wrapper {
        padding-left: 0px;
    }
}

/* 임시 css */
.admin_area {
    min-height: calc(100% - 178px);
    max-width: 1020px;
    padding: 0 10px 50px;
    margin: 0 auto
}

@media only all and (max-width: 1024px) {
    .admin_area {
        min-height:calc(100% - 106px);
        max-width: 1020px;
        padding: 0 0 15px
    }
}

.admin_area h3.date {
    font-size: 28px;
    font-family: "Noto Sans KR","Roboto","AppleGothic","sans-serif";
    font-weight: 700;
    color: #1a1a1a;
    text-align: center;
    margin: 20px auto
}

.admin_area .sub_search {
    margin: 20px auto;
    min-height: 100px;
    background: #fff;
    padding: 25px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap
}

@media only all and (max-width: 1024px) {
    .admin_area .sub_search {
        min-height:auto;
        display: block;
        justify-content: inherit;
        align-items: inherit;
        flex-wrap: inherit;
        background: #f5f5f5;
        padding: 15px 15px;
        margin: 10px 10px 10px
    }
}

.admin_area .sub_search .sch_area {
    width: 100%;
    position: relative;
    padding-right: 200px
}

.admin_area .sub_search .sch_area.only_sory>li.sort {
    width: 100%
}

.admin_area .sub_search .sch_area>li {
    float: left
}

.admin_area .sub_search .sch_area>li.sort {
    width: 50%;
    padding-left: 5px
}

.admin_area .sub_search .sch_area>li.barcoad {
    width: 50%;
    padding-left: 25px;
    display: flex;
    align-items: center
}

.admin_area .sub_search .sch_area>li.barcoad p {
    width: 70px;
    font-size: 20px;
    font-family: "Noto Sans KR","Roboto","AppleGothic","sans-serif";
    font-weight: 700;
    color: #1a1a1a
}

.admin_area .sub_search .sch_area>li.barcoad .barcoad_input {
    position: relative;
    width: calc(100% - 70px)
}

.admin_area .sub_search .sch_area>li.barcoad .barcoad_input input[type=text] {
    height: 52px;
    line-height: 1;
    width: 100%;
    padding-right: 50px;
    border: 1px solid #d3d3d3;
    background: #fff
}

.admin_area .sub_search .sch_area>li.barcoad .barcoad_input input[type=text]:focus+button {
    display: block !important
}

.admin_area .sub_search .sch_area>li.barcoad .barcoad_input button {
    display: none;
    position: absolute;
    z-index: 5;
    right: 0;
    width: 40px;
    height: 100%;
    top: 50%;
    font-size: 20px;
    font-family: "Noto Sans KR","Roboto","AppleGothic","sans-serif";
    font-weight: 700;
    color: #1a1a1a;
    background: url(../image/input_reset.svg) no-repeat center center;
    background-size: 12px 12px;
    text-indent: -9999px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}

.admin_area .sub_search .sch_area>li.btn {
    position: absolute;
    right: 0;
    top: 1px
}

.admin_area .sub_search .sch_area>li select {
    width: 100%
}

.admin_area .sub_search .sch_area>li a {
    width: 190px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    padding: 0 5px;
    background: #007eff;
    color: #fff;
    font-size: 18px;
    font-family: "Noto Sans KR","Roboto","AppleGothic","sans-serif";
    font-weight: 700;
    letter-spacing: -0.45px
}

@media only all and (max-width: 768px) {
    .admin_area .sub_search .sch_area {
        padding-right:112px
    }

    .admin_area .sub_search .sch_area>li {
        float: none
    }

    .admin_area .sub_search .sch_area>li.sort {
        padding-left: 0;
        width: 100% !important
    }

    .admin_area .sub_search .sch_area>li.barcoad {
        padding-left: 0;
        margin-top: 12px;
        width: 100% !important
    }

    .admin_area .sub_search .sch_area>li.btn {
        width: 100px;
        top: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
        align-items: center
    }

    .admin_area .sub_search .sch_area>li a {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        padding: 0 5px;
        font-size: 18px;
        letter-spacing: -0.9px;
        display: inline-flex;
        align-items: center;
        justify-content: center
    }
}

.admin_area .list_head dl dd,.admin_area .list_body dl dd {
    height: 62px
}

.admin_area .list_head dl dd.col1,.admin_area .list_body dl dd.col1 {
    width: 15%
}

.admin_area .list_head dl dd.col2,.admin_area .list_body dl dd.col2 {
    width: 25%
}

.admin_area .list_head dl dd.col3,.admin_area .list_body dl dd.col3 {
    width: 25%
}

.admin_area .list_head dl dd.col4,.admin_area .list_body dl dd.col4 {
    width: 25%
}

@media only all and (max-width: 1024px) {
    .admin_area .list_head dl dd,.admin_area .list_body dl dd {
        height:40px
    }
}

@media only all and (min-width: 1025px) {
    .admin_area .list_body li:hover {
        background:#e6efff
    }

    .admin_area .list_body li:hover dd {
        color: #007eff
    }
}

.admin_area .list_body li.act {
    background: #e6efff
}

.admin_area .list_body li.act dd {
    color: #007eff
}

@media only all and (max-width: 640px) {
    .admin_area .mCustomScrollBox {
        max-height:310px
    }
}

@media only all and (max-width: 360px) {
    .admin_area .mCustomScrollBox {
        max-height:280px
    }
}

@media only all and (max-width: 320px) {
    .admin_area .mCustomScrollBox {
        max-height:220px
    }
}

.admin_area .btn_area {
    max-width: 600px;
    width: 100%;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px
}

.admin_area .btn_area a {
    display: inline-block;
    width: 50%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 0 5px;
    padding: 0 5px;
    background: #007eff;
    color: #fff;
    font-size: 18px;
    font-family: "Noto Sans KR","Roboto","AppleGothic","sans-serif";
    font-weight: 700;
    letter-spacing: -0.45px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px
}

.admin_head {
    background: #181c32;
    height: 48px;
    width: 100%;
    padding: 0 20px
}

.admin_head a {
    font-size: 20px;
    font-family: "Noto Sans KR","Roboto","AppleGothic","sans-serif";
    font-weight: 700;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 46px;
    padding-left: 34px;
    background: url(/static/images/guide/ico_back.svg) no-repeat left center;
    background-size: 24px
}

.admin_auc_main h3 {
    font-size: 28px;
    text-align: center;
    font-family: "Noto Sans KR","Roboto","AppleGothic","sans-serif";
    font-weight: 700;
    margin: 20px auto;
    color: #1a1a1a
}

.admin_auc_main .main_search {
    min-height: 100px;
    background: #fff;
    padding: 25px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap
}

@media only all and (max-width: 1024px) {
    .admin_auc_main .main_search {
        display:block;
        justify-content: inherit;
        align-items: inherit;
        flex-wrap: inherit;
        background: #f5f5f5;
        padding: 8px 15px;
        margin: 0 10px 10px
    }
}

.admin_auc_main .main_search ul {
    margin: 5px 0
}

@media only all and (max-width: 1024px) {
    .admin_auc_main .main_search ul {
        margin:12px 0
    }
}

.admin_auc_main .main_search .radio_group {
    float: left;
    margin-left: -12px;
    margin-right: 20px;
    width: 385px
}

.admin_auc_main .main_search .radio_group li {
    margin: 4px 0 4px 12px;
    float: left
}

@media only all and (max-width: 1024px) {
    .admin_auc_main .main_search .radio_group {
        margin-right:0;
        float: none;
        width: auto;
        margin-left: -9px
    }

    .admin_auc_main .main_search .radio_group li {
        margin: 4px 0 4px 9px
    }
}

.admin_auc_main .main_search .sch_area {
    float: left;
    width: 400px;
    position: relative;
    padding-right: 252px
}

.admin_auc_main .main_search .sch_area>li {
    float: left
}

.admin_auc_main .main_search .sch_area>li.date {
    width: 100%;
    padding-left: 5px
}

.admin_auc_main .main_search .sch_area>li.btn {
    position: absolute;
    right: 0;
    top: 1px
}

.admin_auc_main .main_search .sch_area>li select {
    width: 100%
}

.admin_auc_main .main_search .sch_area>li a {
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    padding: 0 5px;
    background: #007eff;
    color: #fff;
    font-size: 18px;
    font-family: "Noto Sans KR","Roboto","AppleGothic","sans-serif";
    font-weight: 700;
    letter-spacing: -0.45px
}

@media only all and (max-width: 1024px) {
    .admin_auc_main .main_search .sch_area {
        float:none;
        width: 100%
    }

    .admin_auc_main .main_search .sch_area li.date {
        padding-left: 4px
    }

    .admin_auc_main .main_search .sch_area li a {
        border-radius: 5px;
        padding: 0 5px;
        font-size: 18px;
        letter-spacing: -0.9px
    }
}

@media only all and (max-width: 768px) {
    .admin_auc_main .main_search .sch_area {
        width:100%;
        padding-right: 0
    }

    .admin_auc_main .main_search .sch_area li.date {
        padding-left: 0
    }

    .admin_auc_main .main_search .sch_area li.btn {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between
    }

    .admin_auc_main .main_search .sch_area li a {
        width: calc(50% - 6px);
        border-radius: 5px;
        padding: 0 5px;
        font-size: 18px;
        letter-spacing: -0.9px
    }
}

@media only all and (max-width: 1024px) {
    .admin_chocie {
        padding:0 24px
    }
}

.admin_chocie h3 {
    font-size: 28px;
    text-align: center;
    font-family: "Noto Sans KR","Roboto","AppleGothic","sans-serif";
    font-weight: 700;
    margin: 20px auto 10px;
    color: #1a1a1a
}

.admin_chocie p {
    color: #767676;
    font-size: 20px;
    text-align: center;
    font-family: "Noto Sans KR","Roboto","AppleGothic","sans-serif";
    font-weight: 700;
    margin-bottom: 50px
}

.admin_chocie ul.choice_area {
    margin-left: -50px
}

.admin_chocie ul.choice_area li {
    float: left;
    width: calc(33.33% - 50px);
    margin-left: 50px;
    margin-bottom: 50px
}

.admin_chocie ul.choice_area li a {
    width: 100%;
    height: 120px;
    padding: 0 5px;
    background: #fff;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: "Noto Sans KR","Roboto","AppleGothic","sans-serif";
    font-weight: 700;
    letter-spacing: -0.7px;
    text-align: center;
    color: #1a1a1a;
    position: relative;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,.05);
    transition: all .2s
}

.admin_chocie ul.choice_area li a:hover,.admin_chocie ul.choice_area li a.act {
    background: #007eff;
    color: #fff;
    box-shadow: inherit
}

.admin_chocie ul.choice_area li a span {
    position: absolute;
    left: 14px;
    top: 14px;
    background: #f22800;
    padding: 0 8px;
    border-radius: 30px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #fff
}

.admin_chocie ul.choice_area li a span.heart-eft {
    -webkit-animation: heart-eft .8s ease-in-out infinite alternate;
    animation: heart-eft .8s ease-in-out infinite alternate
}

@media only all and (max-width: 1024px) {
    .admin_chocie p {
        margin-bottom:20px
    }

    .admin_chocie ul.choice_area {
        margin-left: -18px
    }

    .admin_chocie ul.choice_area li {
        width: calc(50% - 18px);
        margin-left: 18px;
        margin-bottom: 18px
    }

    .admin_chocie ul.choice_area li a {
        width: 100%;
        height: 90px;
        border-radius: 15px;
        font-size: 20px;
        letter-spacing: -1px
    }
}

.move-txt {
    -webkit-animation: text-scroll 10s linear infinite;
    animation: text-scroll 10s linear infinite
}

@-webkit-keyframes heart-eft {
    0% {
        opacity: .2
    }

    100% {
        opacity: 1
    }
}

@keyframes heart-eft {
    0% {
        opacity: .2
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fav {
    0% {
        background-size: 80%
    }

    100% {
        opacity: 100%
    }
}

@keyframes fav {
    0% {
        background-size: 80%
    }

    100% {
        opacity: 100%
    }
}

@-webkit-keyframes dotcount {
    0% {
        background: #ccc
    }

    50% {
        background: #f22800
    }

    100% {
        background: #ccc
    }
}

@keyframes dotcount {
    0% {
        background: #ccc
    }

    50% {
        background: #f22800
    }

    100% {
        background: #ccc
    }
}

@-webkit-keyframes text-scroll {
    from {
        transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%)
    }

    to {
        transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%)
    }
}

@keyframes text-scroll {
    from {
        transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%)
    }

    to {
        transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%)
    }
}
.auction_calculator .calculator_bottom .calculator-cell li button.num_before
	{
	background: #ffaf00;
}

.auction_list .list_search .sch_area>li input[type=text].calendar {
	background:
		url(https://jqueryui.com/resources/demos/datepicker/images/calendar.gif)
		no-repeat 120px;
	cursor: pointer;
}

