<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminLoginMapper">

	<!-- 관리자 정보 - 관리자 로그인에 사용 -->
	<select id="selectLoginAdminInfo" parameterType="map" resultType="map">
		SELECT A.NA_BZPLC
			 , B.NA_BZPLCNO 
			 , A.USRID
			 , A.USRNM
			 , A.PW
			 , A.ENO
			 , A.MPNO
			 , A.STRG_YN
			 , A.PWERR_NT
			 , A.FSRG_DTM
			 , A.FSRGMN_ENO
			 , A.LSCHG_DTM
			 , A.LS_CMENO
		  FROM TB_LA_IS_MM_USR A
		  LEFT OUTER JOIN TB_LA_IS_BM_BZLOC B
		    ON ( A.NA_BZPLC = B.NA_BZPLC )
		 WHERE A.USRID = #{usrid}
	</select>
	
	<!-- 관리자 정보 - jwt 검증에 사용 -->
	<select id="selectAdminInfo" parameterType="map" resultType="map">
		SELECT A.NA_BZPLC
			 , B.NA_BZPLCNO 
			 , A.USRID
			 , A.USRNM
			 , A.PW
			 , A.ENO
			 , A.MPNO
			 , A.STRG_YN
			 , A.PWERR_NT
			 , A.FSRG_DTM
			 , A.FSRGMN_ENO
			 , A.LSCHG_DTM
			 , A.LS_CMENO
		  FROM TB_LA_IS_MM_USR A
		  LEFT OUTER JOIN TB_LA_IS_BM_BZLOC B
		    ON ( A.NA_BZPLC = B.NA_BZPLC )
		 WHERE A.NA_BZPLC = #{naBzplc}
		   AND A.USRID = #{usrid}
	</select>
	
</mapper>