<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DaemonApiMapper">

	<select id="selectIndvs" parameterType="hashMap" resultType="hashMap">
		SELECT A.*
			 , MAX(TO_CHAR(LSCHG_DTM, 'YYYYMMDDHH24MISS')) OVER(PARTITION BY NA_BZPLC) AS TIMESTAMP
		  FROM TB_LA_IS_MM_INDV A
		 WHERE NA_BZPLC = #{naBzplc}
		    AND EXISTS ( 
					SELECT 1
					  FROM TB_LA_IS_MH_SOG_COW B
					 WHERE B.NA_BZPLC = #{naBzplc}
					   AND B.AUC_DT = #{aucDt}
					   AND B.NA_BZPLC = A.NA_BZPLC
					   AND B.SRA_INDV_AMNNO = A.SRA_INDV_AMNNO
					   AND B.SRA_SRS_DSC = A.SRA_SRS_DSC
			 )
		<if test="timeStamp != null and timeStamp != ''">
		   AND TO_CHAR(LSCHG_DTM, 'YYYYMMDDHH24MISS') > #{timeStamp}
		</if>
		 ORDER BY LSCHG_DTM ASC
	</select>
</mapper>